
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

#welcomeMessageContainer{
 
  margin-top: 20px; 
}

#welcomeMessage {
  font-size: 18px;
  color: #00FF84; /* 텍스트 색상 */
  text-align: center; /* 왼쪽 정렬 */
  line-height: 30px;
}

button {
  padding: 10px 30px; /* 버튼 크기 증가 */
  font-size: 15px;    /* 버튼 폰트 크기 증가 */
  cursor: pointer;
  margin: 20px auto;
}

p {
  font-size: 30px;    /* 텍스트 크기 증가 */
  color: #333;
}

#captchaContainer {
  margin-top: 20px;
  position: relative;
}

#captchaCanvas {

  width: 800px; /* 가로 1000px으로 설정 */
  height: 300px; /* 세로 700px으로 설정 */
  border: 1px solid #333;
}

#cursor {
  display: inline-block;
  animation: blink 0.5s step-end infinite;
  font-weight: bold;
  color: black;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}